@import "../../../variable.scss";

.video {
  display: flex;
  align-items: end;
  margin: 10px 0;
  gap: 20px;
  overflow: hidden;

  @include mobile {
    width: 100%;
  }
}
.videoLoading {
  width: 300px;
  height: 400px;
  // margin: 0 auto;
  margin-left: 2%;
  border-radius: 8px;
}
.videoContent {
  position: relative;
  // margin-left: 60px;

  & video {
    max-width: 500px;
    max-height: 500px;
    border-radius: 8px;

    &::-webkit-media-controls {
      display: none;
    }
    &::-webkit-media-controls-timeline {
      display: none;
    }

    @include tablet {
      max-width: 400px;
      max-height: 400px;
    }

    @include mobile {
      // max-width: 240px;
      max-height: 420px;
    }
  }
}

.videoAction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
