@import "../../variable.scss";

.video {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    height: 84vh;
    overflow-y: overlay;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      display: none !important;
    }
  }

  @include mobile {
    height: 100vh;
  }
}
