@import "../../variable.scss";

.video {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
        height: 84vh;
        overflow-y: overlay;
        scroll-snap-type: y mandatory;
        @include scrollHidden;
    }

    @include mobile {
        height: 100vh;
    }
}